<!DOCTYPE html>
    <%- include('../partials/head')%>
    <body class="container">
        <%- include('../partials/header', {pagina: 'sobre'}) %> <!-- BJETO SOBRE O QUE ESTOU INCLUINDO-->

        <main>
            <div class="jumbotron">
                <h1>
                    Sobre Mim
                </h1>
                <p>
                    Oi sou Daniel Cazé estudante de programação web.
                </p>
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>